<div class="w-full"> 
  <h1 class="font-bold text-red-400 text-center text-4xl">New Workout</h1>
  <div class="bg-gold-100 p-4 w-full rounded-3xl"> 
    <%= form_with model: @workout, local: true do |form| %>

      <div class="field mb-4">
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
      

      <div class="field mb-4">
        <%= form.label :exercises, class: "block text-lg font-medium text-spartan-grey-500 mb-2" %>
        <div class="bg-white border border-spartan-grey-500 rounded-lg p-4">
          <%= collection_check_boxes(:workout, :exercise_ids, Exercise.all, :id, :name) do |b| %>
            <div class="flex items-center mb-2">
              <%= b.check_box(class: "form-checkbox h-5 w-5 text-spartan-red-400") %>
              <%= b.label(class: "ml-2 text-spartan-grey-500") %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit "Create Workout", class: "bg-spartan-red-400 text-white font-bold py-2 px-4 rounded hover:bg-gold-500" %>
      </div>
    <% end %>
  <div> 
</div>
