<h1 class="text-2xl font-bold mb-4">New Exercise</h1>

<%= form_with model: @exercise, class: "space-y-6" do |form| %>
  <div class="space-y-2">
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    <% @exercise.errors.full_messages_for(:name).each do |msg| %>
      <p class="text-red-500 text-sm"><%= msg %></p>
    <% end %>
  </div>
  <div class="space-y-2">
    <%= form.label :exercise_category_id, class: "block text-sm font-medium text-gray-700" %>
    <%= form.collection_select :exercise_category_id, ExerciseCategory.all, :id, :title, { include_blank: true }, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    <% @exercise.errors.full_messages_for(:exercise_category_id).each do |msg| %>
      <p class="text-red-500 text-sm"><%= msg %></p>
    <% end %>
  </div>
  <div>
    <%= form.submit "Create Exercise", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>