
<div class="flex flex-col">
    <div class="p-4 bg-gray-100 rounded-sm">
        <h2 class="font-bold text-5xl text-green-400">Exercise Details</h2>
        <div class="space-y-2">
            <p>
                <span class="font-bold">Name:</span>
                <%= @exercise.name %>
            </p>
            <p>
                <span class="font-bold">Category:</span>
                                <% if @exercise.exercise_category %>
                  <%= @exercise.exercise_category.title %>
                <% else %>
                  <span class="text-red-500">No category assigned</span>
                <% end %>
            </p>
        </div>

                <div>
          <p>
            <span class="font-bold">Category:</span>
            <% if @exercise.exercise_category %>
              <%= @exercise.exercise_category.title %>
            <% else %>
              <span class="text-red-500">No category assigned</span>
            <% end %>
          </p>
        </div>
        
        <ul class="flex space-x-4 mt-4">
          <li>
            <%= link_to "Edit", edit_exercise_path(@exercise), class: "text-blue-500 underline hover:text-blue-700" %>
          </li>
          <li>
            <%= link_to "Back", exercises_path, class: "text-blue-500 underline hover:text-blue-700" %>
          </li>
          <li><%= link_to "Destroy", exercise_path(@exercise), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

            <li>
            <%= button_to 'Delete', exercise_path(@exercise), method: :delete, class: "text-red-500 underline hover:text-red-700" %>
            </li>
        </ul>

    </div>
</div>